body {
	background: url("../pictures/background.jpg") no-repeat #000000;/*Фон*/
	background-size: cover;/*Маштабирование фона*/
}
header {
	position: fixed; /*Фиксированое положение*/
	right: 0; top: 0; /*Положение*/
	padding: 10px;/*Значение полей вокруг содержимого элемента*/
	width: 100%;/*Ширина слоя*/
	background: url("../pictures/header.jpg");
	background-size: cover;
}

a.button {

	margin-left: 30px;
  	display: inline-block;
  	color: white;
  	padding: .5em 2em;
  	outline: none;/*Отображение границы*/
  	border-width: 2px 0;/*Cтиль границы вокруг элемента*/
  	border-style: solid none; 
  	border-color: #F4A460;
  	border-radius: 12px;
  	transition: 0,2s;
}
a.button:hover { 
	background: url("../pictures/button.jpg"); 
	background-size: cover;
	color: blue;
}



h1 {
	display: block;
	margin-top: 165px;
	font-family: segoe script, Monospace;
	color: #EEE8AA;
	text-shadow: #000000 0 0 20px;
}

section {
	text-indent: 30px;
	text-align: justify;
	font-family: segoe script, Monospace;
	color: #FFE4E1;
	text-shadow: #000000 0 0 20px;
}

.st {
	text-align: right;
	margin-top: 60px;
	font-family: segoe script, Monospace;
	color: #FFE4E1;
	text-shadow: #000000 0 0 20px;
}

.pol {
    position: fixed;
	bottom: 0;
    padding: 5px; 
    width: 100%; 
    font-size:12px;
    text-align:center;
    font-family: gabriola;
    color: #FAEBD7;
}

#modalWindow {
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0, 0.7);

	width: 100%;
	height: 100%;

	display: none;
	pointer-events: none;
}

#modalWindow:target{
	pointer-events: auto;
	display: block;
}

.window {
	width: 300px;
	height: 300px;

	background: url("../pictures/modal.jpg") no-repeat #000000;/*Фон*/
	background-size: cover;/*Маштабирование фона*/
	border-radius: 5px;
	margin: 10% auto;
	padding: 10px;
}
form {
	width: 200px;
	height: 200px;
	margin: 20% auto;
}
.close {
	position: absolute;
	right: 35%;
	top: 15%;
	background: #fff;
	color: #000;
	text-decoration: none;
	padding: 10px;
	border-radius: 50%;
}
.close:hover{
	background: #000;
	color: #fff;
}

#ofrm {
	color: white;
	margin-left: 57px;
}